<h2> <%= @cocktail.name %> </h2>
  <% if @cocktail.photo.key != nil  %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% else  %>
    <p> <%= cl_image_tag("32c2d2429ae6efb1368fcbf758d0e489_cazjnd",
        width: 400, height: 300, crop: :fill) %> </p>
  <% end  %>
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <div class="card">
      <li class="list-group-item"><%= dose.description %> of <%= dose.ingredient.name %>
        <%= link_to "Delete",
              dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
      </li>
    </div>
  <% end %>
</ul>



   <%= link_to "back to list", cocktails_path %>
